{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}

    <h1>Все Новости</h1>
    <a href="http://127.0.0.1:8000/news/search">Поиск новости</a>
    {% if perms.news.add_post %}
        <a href="http://127.0.0.1:8000/news/create">Добавить новость</a>
    {% endif %}

    <a href="http://127.0.0.1:8000/accounts/login">Войти</a>
    <a href="http://127.0.0.1:8000/accounts/logout">Выйти</a>
    <a href="http://127.0.0.1:8000/news/subscriptions/">Подписки</a>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок новости</td>
               <td>Дата публикации</td>
               <td>Краткое содержание</td>
           </tr>

           {% for post in news %}
           <tr>
               <td><a href="http://127.0.0.1:8000/news/{{ post.id }}">{{ post.title }}</a></td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}